@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recordly";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>is  an application that allows for users to input and store their record collection</h2>
</hgroup>

<article>
    
    <p>
        When complete, the user should be able to view their record collection, view a list of their "favorite"       albums and/or songs, etc.
    </p>

    <p>
        Duplicate albums/songs should not be allowed. They should be able to "favorite" any of album/song/    artist
    </p>

    <p>The site has the following funcitonality</p>
    <ul>
        <li>User login</li>
        <li>Search, view by album, individual album view with songs</li>
        <li>displays, artists, songs, favorite:, album, artist, songs</li>
    </ul>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>