@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recordly";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>This application allows a person to input and store their record collection.</h2>
        </hgroup>
        <p>
            To learn more just log in and give it a try
            
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Try searching my album, artis and  song.
        
    </li>

    <li class="two">
        <h5>Favorites</h5>
        Try to select and search your favorite album and/or song
        
    </li>
       
</ol>